/* CSS declarations go here */
span.col1 {
	padding: 0.5em 0;
	margin: 0.1em 1em 0.1em 0;
	min-width: 10%;
	display: inline-block;
}

span.col2 {
	padding: 0.5em 0em;
	margin: 0.5em 0;
}

#apptitle {
/*	width: 100%;
	height: 3em;
	font-size: 400%;
	text-align: center;
	vertical-align: center;
	padding-top: 1em;*/
}

body {
	background-color: #F7F0F0;
}

.container {
	background-color: #FFFFFF;
}

.jumbotron {

}

form.newblog {
	margin-bottom: 6px;
}