<head>
	<title>blogideas</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div id="apptitle" class="jumbotron">
			<h1>Blog Ideas Tracker</h1>
			<p>Mind your mind!</p>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{{> blogroll}}
			</div>
			<div class="col-sm-6">
				{{> list}}
			</div>
		</div>
	</div>
</body>

<template name="list">
	<h2>Blog Ideas</h2>
	<h3>I've had an idea:</h3>
	<form class="newidea">
		<select name="forblog">
			<option>Which Blog?</option>
			{{#each allblogs}}
				<option value="{{_id}}">{{blog}}</option>
			{{/each}}
		</select>
		<input type="text" name="ideatext" placeholder="Tell me about it...">
	</form>
	{{#each my_ideas}}
	<li class="{{#if checked}}checked{{/if}}">
		<button class="delete">&times;</button>
		<input type="checkbox" checked="{{checked}}" class="toggle-checked" />
		<span></span>
	</li>
	{{/each}}
</template>

<template name="blogroll">
	<h2>Available Blogs</h2>
	<div class="col-sm-12">
		<h3>Add New Blog:</h3>
		<form class="newblog">
			<input type="text" name="blogname" placeholder="New Blog Name"/>
		</form>
	</div>
	<div class="bloglist">
		<div class="col-sm-1"></div>
		<div class="col-sm-3">
			<strong>Blog Name</strong>		
		</div>
		<div class="col-sm-8">
			<strong>Available Since</strong>
		</div>
		<br/>
	</div>
	{{#each my_blogs}}
			<div class="col-sm-1"><button class="delete">&times;</button></div>
			<div class="col-sm-3">{{blog}}</div>
			<div class="col-sm-8">{{created}}</div>
			<br/>
	{{/each}}
</template>